<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <% for(var i=0; i<commitments.length; i++) {%>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <div class="card text-center">
            <div class="card-header" style="background-color: #0e6efb;">
              <h5 class="card-title"><a href="/project/<%= commitments[i].project._id %>" style="color: white;"><%= commitments[i].project.title %></a></h5>
            </div>
            <div class="card-body" style="color: black">
              <h6 class="card-subtitle mb-2">$<%= commitments[i].commitment%></h6>
              <p class="card-text"><%= commitments[i].comment%></p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <h2>
      <% if (commitments.length >= 1) { %>
        <% const totalCommitment = commitments.map(c => c.commitment).reduce((x, y) => x + y, 0) %>
      </br>
        <p>Total Committed:</p>
        <p>$<%= totalCommitment%></p>
      <% } %>
      </h2>
  </div>  
<%- include('partials/footer') -%>
