<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a Project</h2>
            <form action="/project/createProject" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description"></textarea>
              </div>
              <div class="mb-3">
                <label for="goal" class="form-label">Goal Amount</label>
                <textarea class="form-control" id="goal" name="goal"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<projects.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/project/<%= projects[i]._id%>">
              <img class="img-fluid" src="<%= projects[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="col-6">
          <ul class="row list-unstyled">
          <% for(var i=0; i<commitments.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <a href="/commitment/<%= commitments[i]._id%>">
                <h3><%= commitments[i].project %></h3>
                <p><%= commitments[i].commitment %></p>
              </a>
            </li>
          <% } %>
          </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Projects</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>