<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= project.title %></h2>
      <img class="img-fluid" src="<%= project.image%>" />
      <div class="row justify-content-between">
        <%if(project.user == user.id){ %>
        <form
          action="/project/deleteProject/<%= project.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p>Description: <%= project.description %></p>
      <p>Goal: $<%= project.goal %></p>
    </div>
<h2 class="mt-5">
      Funds committed to this project:
    </h2>
    <div class="row">
      <% for(var i=0; i<commitments.length; i++) {%>
      <div class="col-12 col-sm-6 col-md-4 mb-3 mt-5">
          <div class="card text-center">
            <div class="card header" style="background-color: #0e6efb; color: white;">
              <h5 class="card-title"><%= commitments[i].user.userName%></h5>
            </div>
                <div class="card-body" style="color: black">
                  <h6 class="card-subtitle mb-2">$<%= commitments[i].commitment%></h6>
                  <p class="card-text"><%= commitments[i].comment%></p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <div class="progress mt-3" style="height: 30px;">
      <% if (commitments.length >= 1) { %>
        <% const totalCommitment = commitments.map(c => c.commitment).reduce((x, y) => x + y, 0) %>
        <% const progressPercentage = Math.min((totalCommitment / project.goal) * 100, 100) %>
        <div class="progress-bar" role="progressbar" style="background-color: #007bff; width: <%= progressPercentage %>%; margin: 0; padding: 0; min-width: 1%;" aria-valuenow="<%= progressPercentage %>" aria-valuemin="0" aria-valuemax="100">
          <span class="h5 font-weight-bold"><%= progressPercentage.toFixed(2) %>%</span>
        </div>
      <% } else { %>
        <div class="progress-bar" role="progressbar" style="background-color: #007bff; width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <span class="h5 font-weight-bold">0.00%</span>
        </div>
      <% } %>
    </div>
    <div class="mt-5">
      <h2>Add a commitment</h2>
      <form action="/commitment/createCommitment/<%=project._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <div class="mb-3">
          <label for="commitment" class="form-label">Commitment Amount</label>
          <textarea class="form-control" id="commitment" name="commitment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Commit</button>
      </form>
    </div>
</div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
